body {
    background-color: #F5F5DC;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.splash {
    position: absolute;
    margin: 0 auto;
    padding-left: 4%;
    text-align: left;
    width: 100%;
}

.splash h1 {
    font-size: 70px;
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 40px;
    padding-left: 50%;

}

.content h1 {
    color: #000000;

    margin-bottom: 0px;
}

.clickable {
    color: #CC5500;
    cursor: grab;
}

.clickable:hover {
    color: rgb(117, 206, 0);
    text-decoration: overline;
}

.hidden {
    display: none;
}